body {
    margin: 0;
    background: rgba(36, 105, 166, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

#outer_layer {
    width: 1280px;
    height: 800px;
    /*background: rgb(33, 147, 133); /* Change this color if needed */
    position: relative;
    /*background-image: url("./art_assets/office_background/Office_computer-05.png");*/
}

#office_background_layer{
     width: 1280px;
        height: 800px;
        /*background: rgb(33, 147, 133); /* Change this color if needed */
        position: absolute;
        background-image: url("./art_assets/office_background/Office_computer-05.png");
    z-index: 2;
}
/* Title screen stuff */
.title_screen{
    background-color: chartreuse;
    background-image: url("art_assets/temp_title.jpg");
    background-position: center;
    background-repeat:space;
    background-size:100% 100%;
    
    width: 1280px;
    height: 800px;    
    z-index: 4;
    pointer-events: auto;
    position: absolute;
}

#start_button{
    z-index: 5;
    width: 5%;
    opacity: 30%;
    position: absolute;
    left: 45%;
    top: 50%;
}

/*office/vacation area */

#the_will{
    width: 1280px;
    height: 800px;
    pointer-events: auto;
    position: absolute;
    z-index: 3;
    color: black;
    background-color: rgba(0,0,0,0.5);
    
}

#paper{
    position: absolute;
    z-index: 2;
    height: 800px;
    width: 750px;
    left: 15%;
    top:0%;
    background-image: url("./art_assets/popups/wordnewest.png");    
    background-size: 100% 100%;
}

#paper p{   
    padding-top: 71px;
    padding-left: 71px;
    padding-right: 66px;
    
}

#prompts{
    padding-left: 71px;
}


.office div{
    z-index: 1;
}
/**/
.chromatic_text {
  font-weight: bold;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 1400% 1400%; /* Large to allow smooth animation */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/**/

#vacation_background{
    background-color: red;
    background-image: url("./art_assets/office_background/Window3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 6%;
    top:10%;
    width: 1109px;
    height: 550px;
     /* old values and stuff  
      width: 1152px;
    height: 440px;
     */

}

#vacation_laptop{
    background-color: blue;
    background-image: url("art_assets/screens/laptopscreen.jpg");
    background-size: contain;
    position: absolute;
    left: 50.9%;
    top:35%;
    width: 393px;
    height: 240px;
    z-index: 2;
    cursor: pointer;
}


/* desktop values and stuff  */



.desktop{
    font-family: "fontfancy", 'Courier New', Courier, monospace;
    z-index: 10;
    pointer-events: auto;
    position: absolute;
     width: 1280px;
    height: 800px;    
    background-color: transparent;
    background-image: url("art_assets/screens/desktopscreen.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


.windows{
 
    top:10%;
    position: absolute;
}

#email_window{
    left: 10%;  
    background-color: transparent;
    width: 750px;
    height: 440px;
    background-image: url("./art_assets/popups/inbox_2.png");
    background-size: 100% 100%;

}

#email_text_container{
    right: 3%;
    top: 16%;
    width: 528px;
    height: 340px;
    /*background-color: chartreuse;*/
    position: absolute;
    z-index: inherit;
}


@font-face{
  font-family: "fontfancy";
  src: url("/art_assets/CascadiaCode-VariableFont_wght.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}



#email_text_container p {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}



#choice_window{
    width: 750px;
    height: 440px;
    right: 10%;
    bottom: 10%;
    background-color: transparent;
    background-image: url("art_assets/popups/decision.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
#choice_window_text_container{
    background-color: transparent;
    width:600px;
    height:150px;
    color:rgba(36, 105, 166, 1);
    top: 50%;
    left:12%;
    position: inherit;
  
}
#choice_window button{
    z-index: inherit;
    position: absolute;
    width: 100px;
    height: 25px;
    color: blueviolet;
    bottom: 10%;

}

/*this is for the buttons to be "pressed in"*/
.draggable button{
    filter: brightness(1);
}

.draggable{
    cursor: grab;
}

button{
    cursor: pointer;

}

#choice_1{
    left: 15%;
}

#choice_2{
    left: 40%;
}

#choice_3{
    left: 70%;
}

#end_day_button{
    left: 1%;
    bottom: 2%;
    position: absolute;
    opacity: 0%;
    pointer-events: none;
}

#end_day_image{
    pointer-events: none;
    opacity: 0%;
    position: absolute;
    width: 100px;
    bottom:1%;
    cursor:pointer;
}

/* setting */

/*erm*/
#evil-meter-container {
    width: 50px;           /* width of the meter */
    height: 200px;         /* height of the meter */
    background-color: rgba(1, 10, 38); /* background bar */
    border: 2px solid black;
    position: absolute;
    display: flex;
    flex-direction: column-reverse; /* fill from bottom */
    align-items: center;
    margin: 20px;
    z-index: 1;
    bottom: 20%;
    
}

#evil-meter-fill {
    width: 100%;
    background-color: red;
    height: 0%;            /* initial fill, 0% */
    transition: height 0.3s ease; /* smooth animation */
    z-index: inherit;
}

#evil-meter-label {
    z-index: inherit;
    position: absolute;
    bottom: -55px;
    font-weight: bold;
    text-align: center;
}

#evil-meter-shell{
    width: 90px;
    height: 290px;
    position: absolute;
    z-index: 12;
    bottom: -41%;
}

